@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #141414;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    place-items: center;
    align-content: center;
    min-height: 100%;
    color: #fff;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Dark translucent background */
    backdrop-filter: blur(16px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure it's above all content */
}

/* Loader animation */
.loader {
    border: 4px solid #33333399; /* Light gray border */
    border-top: 4px solid #fff; /* Orange border for the spinning effect */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: 0.2 s;
}

.header:hover::after {
    left: 100%
}

.logo {
    font-size: 2rem;
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: .2s ease-in-out;
}

.navbar a:hover {
    color: #000;
    box-shadow: 0 2px rgba(0, 0, 0, 0.3);
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: rgba(0, 0, 0, .7);
    cursor: pointer;
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 10%;
    color: #ccc;
    
}

.box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70%;
    margin-bottom: 10px;
    break-inside: avoid;
}

img {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 100%;
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #33333399;
    backdrop-filter: blur(16px);
    color: white;
    cursor: pointer;
    padding: 8px 12px 4px 12px;
    font-size: 24px;
    transition: opacity 0.2s ease, visibility 0.3s ease, background-color 0.2s;
    opacity: 0;
    visibility: hidden;
}

#myBtn.show {
    opacity: 1;
    visibility: visible;
}

#myBtn:hover {
    background-color: #222;
}

.footer {
    background-color: #222; /* Dark background for contrast */
    color: #ccc; /* Subtle text color */
    text-align: center;
    padding: 12px 10px;
    margin-top: 20px;
    font-size: 0.9em;
}

/*BREAKPOINTS*/

@media (max-width:992px) {
    .header {
        padding: 1.3rem 5%;
    }
    .welcome {
        font-size: 4rem;
    }
    .links {
        position: absolute;
        bottom: 20px;
        left: 20vb;
    }
    .logo {
        font-size: 1.1rem;
    }
}

@media (max-width:1620px) {
    .container {
        width: calc(100% - 40px);
        columns: 3;
    }
}

@media (max-width:768px) {
    .welcome {
        font-size: 2rem;
    }
    .icons {
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon {
        display: none;
        transition: 1s;
    }
    .icons #close-icon {
        display: none;
    }
    #check:checked~.icons #close-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(255, 255, 255, .7);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar {
        height: 13.7rem;
    }
    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.05s*var(--i));
    }
    .logo {
        font-size: 1.3rem;
    }
    .box {
        width: 90%;
    }
}

@media (max-width:480px) {
    .container {
        width: calc(100% - 40px);
        columns: 1;
        margin-left: 5%;
        margin-top: 20%;
        font-size: .8rem;
    }
    .logo {
        font-size: 1rem;
    }
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}